<!DOCTYPE html>
<html>
    <head>
        <title>Namada Foundation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Banner -->
        <section id="banner">
            <img src="../images/logon.png" class="logo">
            <div class="banner-text">
                <h1>Namada Foundation</h1>
                <p>Care and Share</p>
                <div class="banner-btn">
                    <a href="#"><span></span> About us</a>
                    <a href="#"><span></span> Read more</a>
                </div>
            </div>
        </section>
        <!-- End Banner -->

        <!-- Side Nav -->
        <div id="side-nav">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About US</a></li>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </nav>
        </div>
        <!-- Menu button -->
        <div id="menu-btn">
            <img src="../images/menu.png" id="menu">
        </div>
        <!-- End Side Nav -->

        <!-- About Section -->

        <section id="about">
            <div class="title-text">
                <p>ABOUT US</p>
                <h1>Learn About Us</h1>
            </div>

            <div class="about-box">
                <div class="abouts">

                    <!-- About us -->
                    <h1>About Us</h1>
                    <div class="about-desc">
                        <div class="about-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="about-text">
                            <p>
                                At NAMADA FOUNDATION we believe that everyone belongs. 
                                Aware of the many gifts and blessings God has brought our way, 
                                it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.
                            </p>
                        </div>
                    </div>

                    <!-- Mission -->
                    <h1>Mission</h1>
                    <div class="about-desc">
                        <div class="about-icon">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <div class="about-text">
                            <p>
                                At NAMADA FOUNDATION we believe that everyone belongs. 
                                Aware of the many gifts and blessings God has brought our way, 
                                it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.
                            </p>
                        </div>
                    </div>

                    <!-- Vision -->

                    <h1>Vision</h1>
                    <div class="about-desc">
                        <div class="about-icon">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <div class="about-text">
                            <p>
                                At NAMADA FOUNDATION we believe that everyone belongs. 
                                Aware of the many gifts and blessings God has brought our way, 
                                it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="abouts-img">
                    <img src="../images/logon.png" >
                </div>

            </div>
        </section>

        <!-- End About Section -->

        <!-- Service -->

        <section id="service">
            <div class="title-text">
                <p>WHAT WE DO</p>
                <h1>This is what we do for the community</h1>
            </div>

            <div class="service-box">
                <div class="single-service">
                    <img src="../images/image1.jpg">
                    <div class="overlayer"></div>
                    <div class="service-desc">
                        <h2>Serving God</h2>
                        <hr>
                        <p>Aware of the many gifts and blessings God has brought our way, 
                            it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.</p>
                    </div>
                </div>
                <div class="single-service">
                    <img src="../images/image2.jpeg">
                    <div class="overlayer"></div>
                    <div class="service-desc">
                        <h2>Serving the sick</h2>
                        <hr>
                        <p>Aware of the many gifts and blessings God has brought our way, 
                            it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.</p>
                    </div>
                </div>
                <div class="single-service">
                    <img src="../images/image3.png">
                    <div class="overlayer"></div>
                    <div class="service-desc">
                        <h2>Serving to people</h2>
                        <hr>
                        <p>Aware of the many gifts and blessings God has brought our way, 
                            it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.</p>
                    </div>
                </div>
                <div class="single-service">
                    <img src="../images/image4.jpg">
                    <div class="overlayer"></div>
                    <div class="service-desc">
                        <h2>Serving to all</h2>
                        <hr>
                        <p>Aware of the many gifts and blessings God has brought our way, 
                            it’s our call to care for, and share with others especially the forgotten, and those living on the fringes of the society.</p>
                    </div>
                </div>
            </div>

        </section>

        <!-- End Service -->

        <!-- Testimonials -->
        <section id="testimonials">
            <div class="title-text">
                <p>Our Team</p>
                <h1>Meet the Leadership team</h1>
            </div>

            <div class="testimonial-row">
                <div class="testimonial-col">
                    <div class="user">
                        <img src="../images/user.jpg" alt="user">
                        <div class="user-info">
                            <h4>Roseline Sunday <i class="fa fa-handshake-o"></i></h4>
                            <h3>CEO</h3>
                        </div>
                        
                    </div>
                    <p>This is the best thing to ever happen in our comminity, 
                        we pray to God to continue helping the community and be blessed</p>
                </div>
                <div class="testimonial-col">
                    <div class="user">
                        <img src="../images/user.jpg" alt="user">
                        <div class="user-info">
                            <h4>Fr Kenneth Wandera <i class="fa fa-handshake-o"></i></h4>
                            <h3>Patron</h3>
                        </div>
                        
                    </div>
                    <p>This is the best thing to ever happen in our comminity, 
                        we pray to God to continue helping the community and be blessed</p>
                </div>
                <div class="testimonial-col">
                    <div class="user">
                        <img src="../images/user.jpg" alt="user">
                        <div class="user-info">
                            <h4>Fr Kenneth Wandera <i class="fa fa-handshake-o"></i></h4>
                            <h3>Patron</h3>
                        </div>
                        
                    </div>
                    <p>This is the best thing to ever happen in our comminity, 
                        we pray to God to continue helping the community and be blessed</p>
                </div>
            </div>
        </section>

        <!-- End Testimonials -->


        <script>
            var menuBtn = document.getElementById("menu-btn");
            var sideNav = document.getElementById("side-nav");
            var menu = document.getElementById("menu");

            sideNav.style.right == "-200px";

            menuBtn.onclick = function(){
                if(sideNav.style.right == "-200px"){
                    sideNav.style.right = "0";
                    menu.src = "../images/close.png";
                } else{
                    sideNav.style.right = "-200px";
                    menu.src = "../images/menu.png";
                }
            }
        </script>
    </body>
</html>